main {
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: wheat;
}

button:active {
  scale: 0.95;
}

img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
